<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="TargetsLayout">
    <layout>${longdate} | ${level:uppercase=true} | ${message} | ThreadId=${threadid} | ${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true}${onexception:inner= | ${exception:format=ToString}}</layout>
  </variable>

  <targets>
    <!-- A WinExe has no console, so the file target is the only way an error that happened before the
         window could report it is still diagnosable afterwards. -->
    <target name="FileTarget" xsi:type="File"
            layout="${TargetsLayout}"
            fileName="${basedir}/${processname}.log"
            keepFileOpen="true"
            encoding="utf-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="FileTarget" />
  </rules>
</nlog>
